
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/d/c/dc0e2cf318234faa94ab6f6b80a9b2d01bbeb705
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/a/9/a926d857059b77e0ab2bfbc758f1d0a3ced2752d
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/e/a/ea22addc6bf5e881fc415cadbd7391a72c8f966a
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/index.pb
meus_projetos/projetoyoutube/.idea/uiDesigner.xml
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/5/c/5cf46b7cc85658199aacd5866245064fb4ed829d
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/3/7/3768f7554c3299ad3880ed823cfb5ad3f4d1466e
meus_projetos/projetoyoutube/.idea/sonarlint/securityhotspotstore/1/0/107092eab5e3251da5c9f1b00d3dd6d0a1d4f110
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/index.pb
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/e/a/ea22addc6bf5e881fc415cadbd7391a72c8f966a
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/d/c/dc0e2cf318234faa94ab6f6b80a9b2d01bbeb705
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/a/9/a926d857059b77e0ab2bfbc758f1d0a3ced2752d
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/5/c/5cf46b7cc85658199aacd5866245064fb4ed829d
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/3/7/3768f7554c3299ad3880ed823cfb5ad3f4d1466e
meus_projetos/projetoyoutube/.idea/sonarlint/issuestore/1/0/107092eab5e3251da5c9f1b00d3dd6d0a1d4f110
meus_projetos/projetoyoutube/.idea/modules.xml
meus_projetos/projetoyoutube/.idea/misc.xml
meus_projetos/projetocomputador/.settings/org.eclipse.jdt.core.prefs
meus_projetos/projetobanco/.idea/sonarlint/securityhotspotstore/9/6/962d74ef97a82bea48d7963be7c202e370b917f6
meus_projetos/projetobanco/.idea/sonarlint/securityhotspotstore/5/d/5db3d25c8dda7067b74029792075c6b1ffc3d2a8
curso_loiane/loianeaulas/aula10/.idea/modules.xml
curso_loiane/loianeaulas/aula10/.idea/misc.xml
curso_loiane/loianeaulas/aula10/.idea/vcs.xml
curso_loiane/loianeaulas/aula10/aula10.iml
curso_loiane/src/.idea/workspace.xml
curso_loiane/src/.idea/vcs.xml
meus_projetos/Calculator/.idea/misc.xml
meus_projetos/Calculator/.idea/modules.xml
meus_projetos/Calculator/.idea/sonarlint/issuestore/f/9/f95cb5c0fd95502bf34d6874131d97605e9197f6
meus_projetos/Calculator/.idea/sonarlint/issuestore/index.pb
meus_projetos/Calculator/.idea/sonarlint/securityhotspotstore/f/9/f95cb5c0fd95502bf34d6874131d97605e9197f6
meus_projetos/Calculator/.idea/sonarlint/securityhotspotstore/index.pb
meus_projetos/Calculator/.idea/vcs.xml
meus_projetos/Calculator/Calculator.iml
meus_projetos/Calculator/src/Calculator.java
meus_projetos/exercicioaula9/.idea/misc.xml
meus_projetos/exercicioaula9/.idea/modules.xml
meus_projetos/exercicioaula9/.idea/sonarlint/issuestore/index.pb
meus_projetos/exercicioaula9/.idea/sonarlint/securityhotspotstore/index.pb
meus_projetos/projetoavulso1/.idea/misc.xml
meus_projetos/projetoavulso1/.idea/modules.xml
meus_projetos/projetoavulso1/.idea/sonarlint/issuestore/index.pb
meus_projetos/projetoavulso1/.idea/sonarlint/securityhotspotstore/index.pb
meus_projetos/projetoavulso1/projetoavulso1.iml
meus_projetos/projetoavulso2/.idea/misc.xml
meus_projetos/projetoavulso2/.idea/modules.xml
meus_projetos/projetoavulso2/.idea/sonarlint/issuestore/7/a/7a2b6661e1f3554c5b16ccfd5a5e71bb030c81a5
meus_projetos/projetoavulso2/.idea/sonarlint/issuestore/2/5/25d60197579be9196dade2b7108a7ccd10695d83
meus_projetos/projetoavulso2/.idea/sonarlint/securityhotspotstore/2/5/25d60197579be9196dade2b7108a7ccd10695d83
meus_projetos/projetoavulso2/.idea/sonarlint/securityhotspotstore/7/a/7a2b6661e1f3554c5b16ccfd5a5e71bb030c81a5
meus_projetos/projetoavulso2/.idea/sonarlint/securityhotspotstore/index.pb
meus_projetos/projetoavulso2/.idea/uiDesigner.xml
meus_projetos/projetobanco/.idea/misc.xml
meus_projetos/projetocomputador/.project
meus_projetos/projetocomputador/bin/empresa/Computador.class
meus_projetos/projetocomputador/.classpath
meus_projetos/projetobanco/.idea/sonarlint/securityhotspotstore/index.pb
meus_projetos/projetobanco/.idea/sonarlint/issuestore/index.pb
meus_projetos/projetobanco/.idea/sonarlint/issuestore/9/6/962d74ef97a82bea48d7963be7c202e370b917f6
meus_projetos/projetobanco/.idea/sonarlint/issuestore/5/d/5db3d25c8dda7067b74029792075c6b1ffc3d2a8
meus_projetos/projetobanco/.idea/modules.xml
